[submodule "Libraries/MGUI"]
	path = Libraries/MGUI
	url = https://github.com/teejii88/mgui.git
[submodule "Libraries/Types"]
	path = Libraries/Types
	url = https://github.com/teejii88/types.git
[submodule "Libraries/Platform"]
	path = Libraries/Platform
	url = https://github.com/teejii88/platform.git
[submodule "Libraries/Stringy"]
	path = Libraries/Stringy
	url = https://github.com/teejii88/stringy.git
[submodule "Libraries/Input"]
	path = Libraries/Input
	url = https://github.com/teejii88/input.git
[submodule "Libraries/Math"]
	path = Libraries/Math
	url = https://github.com/teejii88/math.git
